<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/dashboard.css">
    {%include 'libraries/lib-css.html' %}
    <title>CLINICA TALLER</title>

</head>
<body>
    {% include 'tools/navlog.html' %}

    <div class="col-ml-12">
        <div class="container">
            <div class="row justify-content-center">

    <header class="content header">
        <h2 class="title">CLINICA MEDICAL PARA ti</h2>
        <p>
ATENCION PARA TODO
        </p>

    </header>


    <section class="content about">

        <h2 class="title">Nosotros</h2>
        <p>
          Unidad de salud que brinda atención ambulatoria, emergencia y hospitalización de corta
estancia en: medicina general, gineco-obstetricia, pediatría y cirugía de emergencia; cumple
acciones de fomento, protección y recuperación de la salud y odontología; dispone de auxiliares de
diagnóstico como laboratorio clínico e imagenología. 
        </p>

    </section>

    <section class="content price">

        <article class="contain">
            <h2 class="title">Precio</h2>
            <p>
            </p>

            <a href="#" class="btn">Consultar precios</a>

        </article>

    </section>

    <section class="content contact">
        <h2 class="title">Contacto</h2>
        <p>Edgar Alejandro velazquez Martinez
           6 M
           TALLER DE DESARROLLO
        </p>
        <figure class="map">
            <img src="/static/mapa.png" height="220px" width="100%" alt="mapa">
        </figure>

        
    </section>
            </div>
        </div>
    </div>

    {% include 'libraries/lib-js.html' %}
</body>
</html>