<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>CLINICA TALLER</title>
    {%include 'libraries/lib-css.html' %}
</head>
<body>
    {% include 'tools/navbar.html' %}
    <div class="col-ml-12">
        

        <div class="container">
            <div class="justify-content-center">
                <section class="content about">
    
                    <h2 class="title">Nosotros</h2>
                    <p>
            
                        Unidad de salud que brinda atención ambulatoria, emergencia y hospitalización de corta
                        estancia en: medicina general, gineco-obstetricia, pediatría y cirugía de emergencia; cumple
                        acciones de fomento, protección y recuperación de la salud y odontología; dispone de auxiliares de
                        diagnóstico como laboratorio clínico e imagenología.       
                    </p>
            
                    <a href="#" class="btn">Saber mas</a>
            
                </section>
            
                <section class="content price">
            
                    
                        <h2 class="title">Precio</h2>
                   
            
                        <a href="#" class="btn">Saber precio</a>
            
                    
            
                </section>
            
                
        </div>

    </div>
    </div>
    {% include 'tools/footer.html'%}
        {% include 'libraries/lib-js.html' %}
    
</body>
</html>
