<div class="col-ml-12">
    <div class="row-cols-1">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <div class="col-xl-7">
                    <a class="navbar-brand" href="{{ url_for('index') }}"><span class="fs-7 fw-bold text-primary">CLINICA DE ESPECIALIDADES</span></a>
                </div>
                
            </div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <a class="btn btn-primary" href="#">Inicio</a>
            <a class="btn btn-primary"  href="Especialidades.html">Especialidades</a>
            <a class="btn btn-primary"  href="#">Nosotros</a>
            <a class="btn btn-primary"  href="#">Servicios</a>
            <a class="btn btn-primary"  href="login.html">Registro</a>
            </ul>
        </nav>
    </div>
</div>
    
